/* Keyframes for 책 fade ut */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Keyframes for 책 fade inn */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Keyframes for 책 ekspandere */
@keyframes expand {
  from {
    width: initial;
  }
  to {
    width: 100%;
  }
}

/* Keyframes for 책 krympe */
@keyframes shrink {
  from {
    width: 100%;
  }
  to {
    width: initial;
  }
}
